.projects{
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line if there's not enough space */
}
.projectnames{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 10%;
}