
  .swiper {
    width: 80%; /* Set width to 80% of the parent container or viewport */
    max-width: 100vw;
    height: 100vh; /* Set height to 60% of the viewport height */
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
  

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    width: max-content;
  }
  
  @media (min-width: 768px) {
    .swiper-slide {
      font-size: 24px;
    }
  }
  
  .swiper-container{
    width: 100%; /* Set width to 80% of the parent container or viewport */
    height: 100%; /* Set height to 60% of the viewport height */

  }

  .mySwiper{
    width: fit-content;
  }

  .swiper-button-next, .swiper-rtl .swiper-button-prev{
    color: #480845;
  }
  
  .swiper-button-prev, .swiper-rtl .swiper-button-next{
    color: #480845;
  }