.skills {
  margin-top: 10%;
  margin-left: 2%;
  margin-right: 20%;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.skills::-webkit-scrollbar {
  width: 12px; /* Adjust the width as needed */
}

.skills::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the thumb color to transparent */
}

.skills::-webkit-scrollbar-track {
  background-color: transparent; /* Set the track color to transparent */
}




@media (max-width: 768px) {
  .skills {
    margin-top: 20%; /* Adjust this value as needed */
  }
}

h2 {
  color:  rgb(72, 8, 69);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 15px;
}

.animated-bar-container {
  position: relative;
  background-color: #f3ddf171;
  border-radius: 4px;
  height: 25px;
  display: flex;
  width: 500px;
}

.skill-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:  pink;
  font-weight: bold;
  z-index: 2;
  text-align: center;
}

.animated-bar {
  height: 100%;
  display: flex;
  background: hsla(330, 36%, 53%, 1);

  background: linear-gradient(90deg, hsla(330, 36%, 53%, 1) 0%, hsla(289, 68%, 19%, 1) 100%);
  
  background: -moz-linear-gradient(90deg, hsla(330, 36%, 53%, 1) 0%, hsla(289, 68%, 19%, 1) 100%);
  
  background: -webkit-linear-gradient(90deg, hsla(330, 36%, 53%, 1) 0%, hsla(289, 68%, 19%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#B15B86", endColorstr="#440F50", GradientType=1 );
  width: 0;
  transition: width 5s ease-in-out;
}

.animated-bar::after {
    content: attr(data-percent) "%";  /* Display the data-percent attribute as content */
    position: absolute;
    top: 50%;
    right: 5px;  /* Adjust the right value to position it at the end */
    transform: translateY(-50%);
    color:  rgb(72, 8, 69);;  /* Set text color */
    z-index: 3;  /* Ensure it's above the skill name */
  }
  

section {
  margin-bottom: 2%;
  background-color: transparent;
  padding: 20px;
  display: flex;
  margin-right: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}