.contact-container {
  position: sticky;
  bottom: 0; /* Fix the container to the bottom of the viewport */
  left: 0; /* Align the container to the left edge of the viewport */
  display: flex;
  justify-content: space-between; /* Place content at the beginning and end */
  align-items: center; /* Center the content vertically */
  background-color: transparent; /* Dark background color */
  backdrop-filter: blur(3px); /* Apply a blur effect to the content behind */
  padding: 10px; /* Add padding for better visibility */
}

.contact-container h4 {
  margin-right: 5%;
  color: rgb(72, 8, 69); /* White text color for dark theme */
  font-weight: bolder;
  margin-left: 2%;
}

.contact-links {
  display: flex;
  gap: 20px;
}

.contact-container a {
  text-decoration: none;
  color: rgb(72, 8, 69); /* White text color for dark theme */
  font-size: 24px; /* Adjust the icon size */
  margin-bottom: 2%;
  margin-right: -2%;
}

/* Optional: Add hover styles */
.contact-container a:hover {
  color: pink; /* Choose your preferred hover color */
  font-size: 150%;
}
