.contact-container {
    display: flex;
    gap: 20px;
    justify-content: center; /* Center the icons horizontally */
    background-color: #242424;; /* Dark background color */
    padding: 20px; /* Add padding for better visibility */
  }
  
  .contact-container a {
    text-decoration: none;
    color: #fff; /* White text color for dark theme */
    font-size: 24px; /* Adjust the icon size */
  }
  
  /* Optional: Add hover styles */
  .contact-container a:hover {
    color: aquamarine; /* Choose your preferred hover color */
  }
  