.card {
  /* Sizing */
  height: 100%;
  width: 110%;
  

  transform-style: preserve-3d;

  /* Content Alignment */
  position: relative;

  /* Styling */
  border-radius: 10%;
  border-style: none;

 
  user-select: none;
  cursor: pointer;
}


.card-front {
  height: 100%;
  width: 100%;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;

  /* Alignment */
  position: absolute;

  /* Content Alignment */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Content Styling */
  font-family: Montserrat;
  font-weight: 10;
  font-size: 20px;
  color: pink;
  text-shadow: 2px 2px 10px rgba(144, 18, 146, 0.9);

  /* Word wrap */
  word-break: break-word;
  padding: 10px;
  background: hsla(330, 36%, 53%, 1);

background: linear-gradient(90deg, hsla(330, 36%, 53%, 1) 0%, hsla(289, 68%, 19%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(330, 36%, 53%, 1) 0%, hsla(289, 68%, 19%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(330, 36%, 53%, 1) 0%, hsla(289, 68%, 19%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#B15B86", endColorstr="#440F50", GradientType=1 );
}

.card-back {
  height: 100%;
  width: 100%;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;

  /* Alignment */
  position: absolute;

  /* Content Alignment */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Content Styling */
  font-family: Montserrat;
  font-weight: 10;
  font-size: 20px;
  color: pink;
  text-shadow: 2px 2px 10px rgba(144, 18, 146, 0.9);

  /* Word wrap */
  word-break: break-word;
  padding: 10px;
  background-color: #944678;
  color: pink;
  transform: rotateY(180deg);
  font-size: 17px;
  text-align: left;
}